*.py[cod]
*~
.python_version
.__pycache__

# C extensions
*.so

# Packages
.egg
.egg-info
dist
build
eggs
part
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Envdirs
envs/*
!envs/dev

# Logs
pip-log.txt
.log
.log.*

# Unittests and Coverate Reports
.cache
.coverage
.tox
htmlcov

# Translations
*.mo

# Sphinx
docs/_build
docs/apidocs
