include *.rst
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
exclude docs/_static/.gitkeep
exclude Makefile
recursive-exclude tests *.py
recursive-exclude requirements *.pip
exclude .pre-commit-config.yaml
recursive-exclude data *
recursive-exclude docs/apidocs *
